

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top,
      rgb(21, 126, 179) 80vh,
      rgb(246, 249, 255) 75%
    );
  } 

#name {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 2.5rem;
}

#title {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1.4rem;
}

#job-areas {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
}
.profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-width: 0.2rem;
    border-style: solid;
    object-fit: cover;
}

.skills {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
   

}
.competent-skills {
    width: 5rem; 
    max-height: 20rem;
    display: flex;
    
    margin-top: 9%;
   
}

#html5-list {
    list-style:square;
    max-width: 46vw;
}
