
*{
    margin:0;
    font-family: "Alexandria", sans-serif;
    color: rgb(246, 249, 255);
}

.sticky-header {
    font-family: 'Bebas-Neue', sans-serif;
    background-color:rgb(246, 249, 255) ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    z-index: 999999;
    /*background-color: rgba(54, 25, 25, .00004);*/
}
.container{
    background-image: linear-gradient(
      to bottom,
      rgb(246, 249, 255) 0%,
      rgb(246, 249, 255) 6%,
      #292c31 6%,
      #292c31 100%
    
    );
    height: 450vh;
  } 

#name {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 2.5rem;
    margin-top: 5rem;
    color: #292c31;
   
    
}

#title {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    color:#292c31;
}

#job-areas {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
}
.profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-width: 0.2rem;
    border-style: solid;
    object-fit: cover;
}

.header-1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.code-institute-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code-institute {
    width: 14rem;
    height: auto;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #000000;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

#diploma {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.skills {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 22rem;
    margin-top: 1.5rem;
    margin-left: 6vw;

}
.competent-skills {
    width: 5rem; 
    max-height: 113px;
    display: flex; 
    margin-top: 18%;
   
}

#level-list {
    list-style: square;
    max-width: 50vw;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 3vw;
    font-family: "Alexandria", sans-serif;
}

.level-description {
    font-size: 0.8rem;
}


#line-1 {
  margin-top: 2rem;
  height:1.5px;
  border-width:0;
  background-color:#000000;
  max-width: 83%;
  margin-left:8vw;
     
}

.frameworks {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 22rem;
    margin-top: 1.5rem;

}
.competent-frameworks { 
    width: 8rem; 
    max-height: 160px;
    display: flex; 
    margin-top: 8%;
    margin-left: 10%;
}


.framework-list {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    font-size: 0.7rem; 
}

#django {
    margin-left: 0;
    margin-right: 3.5rem;
}


.frameworks-container {
    display: flex;
   justify-content: space-around;
}

#django-container {
    display: flex;
    justify-content: flex-start;
}

.framework-description {
    display: flex;
    justify-content: stretch;
}