
*{
    padding:0;
    margin:0;
}

.container{
    height: 100vh;
    background: linear-gradient(
      to top,
      rgb(21, 126, 179) 0%,
      rgb(21, 126, 179) 80%,
      rgb(246, 249, 255) 80%,
      rgb(246, 249, 255) 100%
    )
  } 

#name {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    
}

#title {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1.4rem;
    margin-top: 2rem;
}

#job-areas {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
}
.profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-width: 0.2rem;
    border-style: solid;
    object-fit: cover;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: space-around;
    margin-left: 1rem;
    max-width: 18rem;
    box-sizing: content-box;

}
.competent-skills {
    width: 5rem; 
    max-height: 20rem;
    display: flex; 
    margin-top: 9%;
   
}

#level-list {
    list-style:square;
    max-width: 50vw;
    margin-top: 3rem;
    margin-left: 5.5vw;
    font-family: "Alexandria", sans-serif;
}

.level-description {
    display: flex;
    text-align:center;
}
