
*{
    margin:0;
    font-family: "Alexandria", sans-serif;
    color: rgb(246, 249, 255);
}

.sticky-header {
    font-family: 'Bebas-Neue', sans-serif;
    background-color:rgb(246, 249, 255) ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    z-index: 999999;
    /*background-color: rgba(54, 25, 25, .00004);*/
}
.container{
    background-image: linear-gradient(
      to bottom,
      rgb(246, 249, 255) 0%,
      rgb(246, 249, 255) 6%,
      #292c31 6%,
      #292c31 100%
    
    );
    height: 450vh;
  } 

#name {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 2.5rem;
    margin-top: 5rem;
    color: #292c31;
   
    
}

#title {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    color:#292c31;
}

#job-areas {
    display: flex;
    justify-content: center;
    font-family: "Alexandria", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
}
.profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-width: 0.2rem;
    border-style: solid;
    object-fit: cover;
}

.header-1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.code-institute-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code-institute {
    width: 14rem;
    height: auto;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #000000;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 1rem;
}

#diploma {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.skills {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 22rem;
    margin-top: 1.5rem;
    margin-left: 6vw;

}
.competent-skills {
    width: 5rem; 
    max-height: 113px;
    display: flex; 
    margin-top: 18%;
   
}

#level-list {
    list-style: square;
    max-width: 50vw;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-inline-start: 0;
    font-family: "Alexandria", sans-serif;
}

.level-description {
    font-size: 0.8rem;
}


#line-1 {
  margin-top: 2rem;
  height:1.5px;
  border-width:0;
  background-color:#000000;
  max-width: 83%;
  margin-left:8vw;
     
}

.frameworks {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 22rem;
    margin-top: 1.5rem;
   

}
.competent-frameworks { 
    width: 8rem; 
    max-height: 160px;
    display: flex; 
    margin-top: 8%;
    margin-left: 10%;
    
}


.framework-list {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    font-size: 0.7rem; 
    margin-top: 2.5rem;
    margin-left: 0.2rem;
    padding-inline-start: 0;
}

#django {
    margin-left: 0;
    margin-right: 0.5rem;
}


.frameworks-container {
    display: flex;
   justify-content: space-around;
   
}



.framework-description {
    margin-top: 1rem;
    text-align: center;
    margin-left: 1rem;
}

#framework-description-django {
    margin-right: 1rem;
    margin-left: 2rem;
 }

.cms {
    max-width: 12rem;
    height: 6rem;
    margin-top: 2rem;
}

.button-about-me {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Alexandria", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 2.5s infinite linear;
  position: relative;
}

.bn13 {
    text-decoration: none;
}

.button-about-me:hover {
    background-color: white;
    color: #000000;
    text-decoration: none;
  }
  

  @keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }

  .cv {
    display: flex;
    justify-content: center;
  }
  .cv-pdf {
    width: 14rem;
    height: auto;
    margin-top: 2rem;
  }